<div ng-controller="fileBrowserController as vm">
	<!-- App load spinner -->
	<div class="center" ng-show="vm.initialLoading">
		<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
	</div>

	<div ng-hide="vm.initialLoading">
		<div class="directory-listing"> 
			<ul>
				<li><strong>Directory:&nbsp;</strong>
					<a ng-click="vm.selectDirectory(false)" ng-if="vm.directories.length">{{vm.rootDrive}}</a>
					<span ng-if="!vm.directories.length">{{vm.rootDrive}}</span>
					<span ng-if="vm.directories.length">-></span>
				</li>
				<li ng-repeat="(key, directory) in vm.directories">
					<span ng-if="key > 0">-></span>
					<a ng-click="vm.selectDirectory(key)" ng-if="key !== vm.directories.length-1">{{directory}}</a>
					<span ng-if="key === vm.directories.length-1">{{directory}}</span>
				</li>
			</ul>
		</div>
		<hr>
		<!-- Back Button / Spinner -->
		<div class="center">
			<span ng-show="vm.loading">
				<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
			</span>
		</div>
		<a class="back-button row" ng-if="vm.directories.length > 0" ng-click="vm.backDirectory()">Back</a><br>

		<!-- Files -->
		<div ng-if="file.name" class="col-md-4 file-container" ng-repeat="(key,file) in vm.files track by $index">
			<a class="col-md-10" ng-if="file.directory" ng-click="vm.goToDirectory(file.name)">{{file.name}}</a>
			<div ng-if="!file.directory" class="col-md-6">
				{{file.name}} 
			</div>
			<div class="col-md-2 pull-right">
 				<span ng-show="!file.directory && !file.watched">
					<span ng-click="vm.watchFile(file.name)" class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
				</span>

				<span ng-show="!file.directory && file.watched">
					<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
				</span>
			</div>
		</div>
	</div>
</div>