<div ng-controller="fileBrowserController as vm">
	<a class="row" ng-if="vm.directories.length > 0" ng-click="vm.backDirectory()">Back</a>
	<div ng-if="file.name" class="col-md-6" ng-repeat="file in vm.files track by $index">
		<a ng-if="file.directory" ng-click="vm.goToDirectory(file.name)">{{file.name}}</a>
		<span ng-if="!file.directory">
			{{file.name}} 
			<button class="glyphicon glyphicon-eye-open" ng-click="vm.watchFile(file.name)"><span ng-if="vm.checkIfWatched(vm.getFullPath(vm.directories), file.name)">ALREADY WATCHED</span></button>
		</span>
	</div>
	<hr>
	<div ng-repeat="file in vm.remoteFiles">
		<div>{{file.title}}</div>
	</div>
</div>