<div ng-controller="fileBrowserController as vm">
	<!-- App load spinner -->
	<div class="center" ng-show="vm.initialLoading">
		<img src="http://www.pocketmovies.net/img/spinner.gif.pagespeed.ce.TFUe6Q5wBV.gif"/>
	</div>

	<div ng-hide="vm.initialLoading">
		<div class="directory-listing"> 
			<ul>
				<li>Directory:&nbsp;
					<a ng-click="vm.selectDirectory(false)" ng-if="vm.directories.length">{{vm.rootDrive}}</a>
					<span ng-if="!vm.directories.length">{{vm.rootDrive}}</span>
					<span ng-if="vm.directories.length">-></span>
				</li>
				<li ng-repeat="(key, directory) in vm.directories">
					<span ng-if="key > 0">-></span>
					<a ng-click="vm.selectDirectory(key)" ng-if="key !== vm.directories.length-1">{{directory}}</a>
					<span ng-if="key === vm.directories.length-1">{{directory}}</span>
				</li>
			</ul>
		</div>
		<hr>
		<!-- Back Button / Spinner -->
		<div class="center">
			<img ng-if="vm.loading" src="http://www.pocketmovies.net/img/spinner.gif.pagespeed.ce.TFUe6Q5wBV.gif"/>
		</div>
		<a class="back-button row" ng-if="vm.directories.length > 0" ng-click="vm.backDirectory()">Back</a><br>

		<!-- Files -->
		<div ng-if="file.name" class="col-md-4" ng-repeat="file in vm.files track by $index">
			<a class="col-md-6" ng-if="file.directory" ng-click="vm.goToDirectory(file.name)">{{file.name}}</a>
			<div ng-if="!file.directory" class="col-md-6">
				{{file.name}} 
			</div>
			<div class="col-md-6">
				<button ng-if="!file.watched && !file.directory" class="glyphicon glyphicon-eye-open" ng-click="vm.watchFile(file.name)">
				</button>
				<span class="watched-file" ng-if="file.watched">
					ALREADY WATCHING
				</span>
			</div>
		</div>
		<hr>
	</div>
</div>